# this will start `/usr/bin/copyparty`
# in a chroot, preventing accidental access elsewhere,
# and read copyparty config from `$HOME/.config/copyparty.conf`
#
# expose additional filesystem locations to copyparty
#   by listing them between the last `%u` and `--`
#
# unless you add -q to disable logging, you may want to remove the
#   following line to allow buffering (slightly better performance):
#   Environment=PYTHONUNBUFFERED=x

[Unit]
Description=copyparty file server

[Service]
SyslogIdentifier=prisonparty
Environment=PYTHONUNBUFFERED=x
WorkingDirectory=/var/lib/copyparty-jail
ExecReload=/bin/kill -s USR1 $MAINPID

# run copyparty
ExecStart=/bin/bash /usr/bin/prisonparty /var/lib/copyparty-jail %u %u \
  %h/.config/copyparty \
  -- \
  /usr/bin/python3 /usr/bin/copyparty -c %h/.config/copyparty/copyparty.conf

[Install]
WantedBy=multi-user.target
