# this will start `/usr/local/bin/copyparty-sfx.py`
# and share '/mnt' with anonymous read+write
#
# installation:
#   cp -pv copyparty.service /etc/systemd/system && systemctl enable --now copyparty
#
# you may want to:
#   change '/usr/bin/python' to another interpreter
#   change '/mnt::a' to another location or permission-set

[Unit]
Description=copyparty file server

[Service]
ExecStart=/usr/bin/python /usr/local/bin/copyparty-sfx.py -q -v /mnt::a
ExecStartPre=/bin/bash -c 'mkdir -p /run/tmpfiles.d/ && echo "x /tmp/pe-copyparty*" > /run/tmpfiles.d/copyparty.conf'

[Install]
WantedBy=multi-user.target
