# python
__pycache__/
*.py[cod]
*$py.class
MANIFEST.in
MANIFEST
copyparty.egg-info/
buildenv/
build/
dist/
sfx/
.venv/

# sublime
*.sublime-workspace

# winmerge
*.bak

# other licenses
contrib/

# deps
copyparty/web/deps