# python
__pycache__/
*.py[cod]
*$py.class
MANIFEST.in
MANIFEST
copyparty.egg-info/
.venv/

/buildenv/
/build/
/dist/
/py2/
/sfx*
/unt/
/log/

# ide
*.sublime-workspace

# winmerge
*.bak

# derived
copyparty/res/COPYING.txt
copyparty/web/deps/
srv/

# state/logs
up.*.txt
.hist/