html, body, #wrap {
	color: #333;
	background: #f7f7f7;
	font-family: sans-serif;
}
html {
	touch-action: manipulation;
}
#wrap {
	max-width: 40em;
	margin: 2em auto;
	padding: 0 1em 3em 1em;
	line-height: 1.3em;
}
h1 {
	border-bottom: 1px solid #ccc;
	margin: 2em 0 .4em 0;
	padding: 0 0 .2em 0;
	font-weight: normal;
}
li {
	margin: 1em 0;
}
a {
	color: #047;
	background: #fff;
	text-decoration: none;
	border-bottom: 1px solid #8ab;
	border-radius: .2em;
	padding: .2em .8em;
}
a+a {
	margin-left: .5em;
}
.refresh,
.logout {
	float: right;
	margin: -.2em 0 0 .5em;
}
.logout {
	color: #c04;
	border-color: #c7a;
}
#repl {
	border: none;
	background: none;
	color: inherit;
	padding: 0;
}
table {
	border-collapse: collapse;
}
.vols td,
.vols th {
	padding: .3em .6em;
	text-align: left;
	white-space: nowrap;
}
.num {
	border-right: 1px solid #bbb;
}
.num td {
	padding: .1em .7em .1em 0;
}
.num td:first-child {
	text-align: right;
}
.btns {
	margin: 1em 0;
}
#msg {
	margin: 3em 0;
}
#msg h1 {
	margin-bottom: 0;
}
#msg h1 + p {
	margin-top: .3em;
	text-align: right;
}


html.dark,
html.dark body,
html.dark #wrap {
	background: #222;
	color: #ccc;
}
html.dark h1 {
	border-color: #777;
}
html.dark a {
	color: #fff;
	background: #057;
	border-color: #37a;
}
html.dark .logout {
	background: #804;
	border-color: #c28;
}
html.dark input {
	color: #fff;
	background: #626;
	border: 1px solid #c2c;
	border-width: 1px 0 0 0;
	border-radius: .5em;
	padding: .5em .7em;
	margin: 0 .5em 0 0;
}
html.dark .num {
	border-color: #777;
}
