html {
	color: #333;
	background: #f7f7f7;
	font-family: sans-serif;
	font-family: var(--font-main), sans-serif;
	touch-action: manipulation;
}

#homebtn {
	font-size: x-large; 
	top: 1em;
	left: 1em;
	margin: 0 0 .3em 0;
	padding: .4em .5em;
	border-radius: .3em; 
	background: var(--bg-u2);
	border-left: var(--bg-u5) solid 1px;
	border-top: var(--bg-u5) solid 1px;
	border-right: var(--bg-u5) solid 1px;
	border-bottom: 2px solid rgb(7, 130, 212);
	position: fixed;
	z-index: 10;
	box-shadow: 0 0 1em color-mix(in oklab, var(--bg-max) 60%, transparent 40%);
}
#homebtn:hover, #homebtn:focus-visible {
	background: var(--bg-u5);
}

#outer {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
#middle {
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
}
#wrap {
	position: relative;
	max-width: 80vw;
	margin: 1.5em 2em;
	margin-bottom: 3em;
	padding: 1.5em;
	padding-bottom: 0em;
	line-height: 1.3em;
	background: #282827;
	border-radius: .5em;
	border: var(--bg-u5) solid 1px;
	box-shadow: 0 0 2em color-mix(in oklab, var(--bg-max) 60%, transparent 40%);
}
html.y #wrap {
	background: color-mix(in oklab, var(--a-gray) 18%, var(--bg-max));
}
#wrap.w {
	max-width: 96%;
}
h1 {
	margin: 1.5em 0 .4em 0;
	padding: 0;
	line-height: 1em;
	font-size: x-large;
	font-weight: normal;
}
#top_L {
	display: flex;
}
#l {
	margin-top: 0;
	text-align: center;
}
#login {
	border: var(--bg-u5) solid 1px;
	border-radius: .3em;
	padding: 1em;
	margin: 2em auto 0 auto;
	max-width: 25em;
}
li {
	margin: 1em 0;
}
p {
  	margin: 0 .2em;
}
#lo,
a {
	color: #fff;
	background: rgba(5, 92, 184, 0.69);
	text-decoration: none;
	white-space: nowrap;
	border-bottom: 2px solid rgb(3, 50, 112);
	border-radius: .2em;
	padding: .2em .6em;
	margin: 0 .3em;
}
#lo:hover, #lo:focus-visible,
a:hover, a:focus-visible {
	background: rgb(10, 134, 206);
}
td a {
	margin: 0;
}
#wb,
#w {
	color: #fff;
	background: rgba(50, 158, 4, 0.69);
	border-color: rgb(20, 90, 3);
}
#wb:hover, #wb:focus-visible,
#w:hover, #w:focus-visible {
	background: rgb(93, 180, 12);
}
.af,
.logout {
	float: right;
	margin: -.2em 0 0 .8em;
}

#a {
	background: transparent;
	border: var(--bg-u5) solid 1px;
	font-weight: bold;
	padding: .2em .5em;
}
#a:hover, #a:focus-visible {
	background: var(--bg-u5);
}
html.y #a {
	color: #222;
}
#lo,
.logout,
a.r {
	background: rgba(230, 3, 3, 0.61);
	border-color: rgb(178, 5, 66);
}
#lo:hover, #lo:focus-visible,
.logout:hover, .logout:focus-visible,
a.r:hover, a.r:focus-visible {
	background: rgb(209, 4, 4);
}
#a.g {
	background: rgb(254, 207, 20);
	border-color: rgb(224, 177, 7);
	box-shadow: 0 .3em 1em rgba(240, 149, 3, 0.584);
	color: #000;
}
#repl,
#pb a {
	border: none;
	background: none;
	color: inherit;
	padding: 0;
}
#repl {
	position: fixed;
	bottom: .5em;
	left: .5em;
}
#pb {
	opacity: .5;
	position: fixed;
	bottom: .5em;
	right: .5em;
}
#pb span {
	opacity: .6;
}
#pb a {
	margin: 0;
}
table {
	overflow-x: auto;
	display: block;
	overflow-y: hidden;
}
.vols td,
.vols th {
	padding: .3em .6em;
	text-align: left;
	white-space: nowrap;
}
.vols td:empty,
.vols th:empty {
	padding: 0;
}
.vols img {
	margin: -4px 0;
}
.num {
	border-right: 1px solid #bbb;
}
.num td {
	padding: .1em .7em .1em 0;
}
.num td:first-child {
	text-align: right;
}
.cn {
	text-align: center;
}
.btns {
	margin: 1em 0;
}
.btns>a:first-child {
	margin-left: 0;
}
.agr br {
	display: none;
}
#lo,
.agr a,
.agr form {
	margin: 0 .5em 0 0;
	line-height: 2.5em;
}
.agr form,
.agr input {
	display: inline;
	padding: 0;
	margin: 0;
}
#lo,
.agr input {
	line-height: 1em;
	font-weight: normal;
}
#msg {
	margin: 3em 0;
}
#msg h1 {
	margin-bottom: 0;
}
#msg h1 + p {
	margin-top: .3em;
	text-align: right;
}
blockquote {
	margin: 0 0 1.6em .6em;
	padding: .7em 1em 0 1em;
	border-left: .3em solid rgba(128,128,128,0.5);
	border-radius: 0 0 0 .25em;
}
pre, code {
	color: #480;
	background: #fff;
	font-family: 'scp', monospace, monospace;
	font-family: var(--font-mono), 'scp', monospace, monospace;
	border: 1px solid rgba(128,128,128,0.3);
	border-radius: .2em;
	padding: .15em .2em;
}
html.z pre,
html.z code {
	color: #9e0;
	background: #000;
	background: rgba(0,16,0,0.2);
}
.os {
	line-height: 1.5em;
}
.sph {
	margin-top: 4em;
}
.sph code {
	margin-left: .3em;
}
pre b,
code b {
	color: #000;
	font-weight: normal;
	text-shadow: 0 0 .2em #3f3;
	border-bottom: 1px solid #090;
}
html.z pre b,
html.z code b {
	color: #fff;
	border-bottom: 1px solid #9f9;
}


html.z {
	background: #222;
	color: #ccc;
}
html.z h1 {
	border-color: #777;
}
form {
	line-height: 2.5em;
	display: flex;
	flex-direction: column;
	margin: auto;
}
#lp {
	margin: 1em 0;
	background: none;
	padding: .5em;
}
#lp::placeholder {
	font-size: medium;
}
#x,
input {
	color: #fff;
	background: rgb(39, 130, 204);
	border-color: rgb(72, 182, 255);
	border-radius: .3em;
	padding: .4em .6em;
	margin: 0;
	font-size: 1em;
}
#x:hover, #x:focus-visible,
input:hover, input:focus-visible {
	background: linear-gradient(-10deg,  rgb(10, 77, 145), rgb(39, 130, 204));
}
input::placeholder {
	font-size: 1.2em;
	letter-spacing: .04em;
	opacity: 0.64;
	color: #000;
}
input:autofill {
  box-shadow: 0 0 0 40px #1f3b67 inset;
}
html.y input:autofill {
  box-shadow: 0 0 0 40px #a2c9e6 inset;
}
html.z input::placeholder {
	color: #fff;
}
html.z .num {
	border-color: #777;
}


html.bz {
	color: #bbd;
	background: #11121d;
}
html.bz .vols img {
	filter: sepia(0.8) hue-rotate(180deg);
}

@media (max-width: 55em){
	#homebtn {
		position: initial;
		display: inline-block;
	}
	#login {
		margin-top: .7em;
	}
}
