:root {
	color-scheme: dark;

	--font-main: sans-serif;
	--font-serif: serif;
	--font-mono: 'scp';

	--fg-max: #fff;
	--bg-max: #080808;
	--a: #fc5;
	accent-color: var(--a);
	--radius: 7px;
	
	--fg-max: #fefefe;
	--bg-max: #010101;

	--a-hil: rgb(255, 215, 121);
	--a-dark: rgb(235, 165, 37); /* warning text etc */
	--a-gray: #ccc;

	--fg: #efefef;
	--fg-weak: #c4c4c4;

	--bg: #1f1f1f;
	--bg-half: #01010182;
	--bg-u1: #212121;
	--bg-u2: #353535;
	--bg-u3: #404040;
	--bg-u5: #4e4e4e;
	--bg-d1: #111111;
	--bg-d2: #0e0e0e;
	--bg-d3: #0b0b0b;

	--bgg: var(--bg);

	background: var(--bg);
    color: var(--fg);
}
html.y {
	color-scheme: light;

	--fg-max: #000;
	--bg-max: #fff;
	color-scheme: light;

	--a: #07c;
	
	--a-hil: rgb(121, 193, 255);
	--a-dark: rgb(7, 95, 183); /* warning text etc */
	--a-gray: #ccc;

	--fg: #101010;
	--fg-weak: #323232;

	--bg: #eeeeee;
	--bg-half: #eeeeee82;
	--bg-u1: #e3e3e3;
	--bg-u2: #d6d6d6;
	--bg-u3: #c7c7c7;
	--bg-u5: #bcbcbc;
	--bg-d1: #f4f4f4;
	--bg-d2: #f5f5f5;
	--bg-d3: #f6f6f6;

	--chk-fg: var(--fg);
	--txt-sh: #aaa;
	--txt-bg: var(--bg-d1);
	--mp-sh: #0002;

	text-shadow: none;
}
@supports (background: hsl(from #ccc, h s l)){
	:root {
		--a-hil: hsl(from var(--a) h calc(s * 1.2) l);
		--a-dark: hsl(from var(--a) h calc(s * 1.3) l); /* warning text etc */
		--a-gray: hsl(from var(--a) h calc(s * 0.1) l);
	}
}
@supports (background: color-mix(in oklab, black, white)){
	:root, html.y {
		/* accent color in everything */
		--fg-max: color-mix(in oklab, #fefefe 95%, var(--a) 5%);
		--bg-max: color-mix(in oklab, #010101 95%, var(--a) 5%);

		--a-hil: hsl(from color-mix(in oklab, var(--a) 80%, var(--fg-max) 20%) h calc(s * 1.2) l);
		--a-dark: hsl(from color-mix(in oklab, var(--a) 60%, var(--bg-max) 40%) h calc(s * 1.3) l); /* warning text etc */
		--a-gray: hsl(from var(--a) h calc(s * 0.1) l);

		--fg: color-mix(in oklab, var(--fg-max) 90%, var(--bg-max) 10%);
		--fg-weak: color-mix(in oklab, var(--fg-max) 70%, var(--bg-max) 30%);

		--bg: color-mix(in oklab, var(--bg-max) 85%, var(--fg-max) 15%);
		--bg-half: color-mix(in oklab, var(--bg) 50%, transparent 50%);
		--bg-u1: color-mix(in oklab, var(--bg-max) 80%, var(--fg-max) 20%);
		--bg-u2: color-mix(in oklab, var(--bg-max) 75%, var(--fg-max) 25%);
		--bg-u3: color-mix(in oklab, var(--bg-max) 70%, var(--fg-max) 30%);
		--bg-u5: color-mix(in oklab, var(--bg-max) 65%, var(--fg-max) 35%);
		--bg-d1: color-mix(in oklab, var(--bg-max) 90%, var(--fg-max) 10%);
		--bg-d2: color-mix(in oklab, var(--bg-max) 92%, var(--fg-max) 8%);
		--bg-d3: color-mix(in oklab, var(--bg-max) 95%, var(--fg-max) 5%);
	}
	html.y {
		--bg-max: color-mix(in oklab, #fefefe 95%, var(--a) 5%);
		--fg-max: color-mix(in oklab, #010101 95%, var(--a) 5%);
		
		--bg-u1: color-mix(in oklab, var(--bg-max) 92%, var(--fg-max));
		--bg-u2: color-mix(in oklab, var(--bg-max) 95%, var(--fg-max));
		--bg-u5: color-mix(in oklab, var(--bg-max) 82%, var(--fg-max));
		--bg: color-mix(in oklab, var(--bg-max) 98%, var(--fg-max));
	}
}
@font-face {
	font-family: 'scp';
	font-display: swap;
	src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'), url(deps/scp.woff2) format('woff2');
}
@font-face {
	font-family: 'orbitron';
	font-display: swap;
	src: url(deps/orbitron.woff2) format('woff2');
}
html {
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	touch-action: manipulation;
}
#tt, #toast {
	position: fixed;
	max-width: 34em;
	max-width: min(34em, 90%);
	max-width: min(34em, calc(100% - 7em));
	color: #ddd;
	color: var(--fg);
	background: #333;
	background: var(--bg-u2);
	border: 0 solid #777;
	box-shadow: 0 .2em .5em #111;
	border-radius: .4em;
	z-index: 9001;
}
#tt {
	max-width: min(34em, calc(100% - 3.3em));
	overflow: hidden;
	margin: .7em 0;
	padding: 0 1.3em;
	height: 0;
	opacity: .1;
	transition: opacity 0.14s, height 0.14s, padding 0.14s;
}
#toast {
	bottom: 5em;
	right: -1em;
	line-height: 1.5em;
	padding: 1em 2em 1em 1em;
	border-width: 1px;
	overflow-wrap: break-word;
	transform: translateX(100%);
	transition:
		transform .4s cubic-bezier(.2, 1.2, .5, 1),
		right .4s cubic-bezier(.2, 1.2, .5, 1);
	text-shadow: 1px 1px 0 #000;
	color: #fff;
}
#toast.top {
	top: 2em;
	bottom: unset;
}
#toastt {
	position: absolute;
	height: 1px;
	top: 1px;
	right: 1px;
	left: 1px;
	animation: toastt var(--tmtime) 0.07s steps(var(--tmstep)) forwards;
	transform-origin: right;
}
@keyframes toastt {
	to {transform: scaleX(0)}
}
#toast a {
	color: inherit;
	text-shadow: inherit;
	background: rgba(0, 0, 0, 0.4);
	border-radius: .3em;
	padding: .2em .3em;
}
#toast a#toastc {
	display: inline-block;
	position: absolute;
	overflow: hidden;
	right: 0;
	top: 0;
	opacity: 0;
	padding: .3em 0;
	line-height: 1.3em;
	color: #000;
	border: none;
	outline: none;
	text-shadow: none;
	border-radius: .4em;
	transition: left .3s, width .3s, padding .3s, opacity .3s;
}
#toastb {
	max-height: 70vh;
	overflow-y: auto;
	padding: .1em;
}
#toast.scroll #toastb {
	overflow-y: scroll;
	margin-right: -1.2em;
	padding-right: .7em;
}
#toast.r #toastb {
	text-align: right;
}
#toast pre {
	margin: 0;
}
#toast.hide {
	display: none;
}
#toast.vis {
	right: 1.3em;
	transform: inherit;
	transform: initial;
}
#toast.vis #toastc {
	padding: .3em .5em;
	opacity: 1;
}
#toast.inf {
	background: #07a;
	border-color: #0be;
}
#toast.inf #toastc {
	background: #0be;
}
#toast.inf #toastt {
	background: #8ef;
}
#toast.ok {
	background: #380;
	border-color: #8e4;
}
#toast.ok #toastc {
	background: #8e4;
}
#toast.ok #toastt {
	background: #cf9;
}
#toast.warn {
	background: #960;
	border-color: #fc0;
}
#toast.warn #toastc {
	background: #fc0;
}
#toast.warn #toastt {
	background: #fe9;
}
#toast.err {
	background: #900;
	border-color: #d06;
}
#toast.err #toastc {
	background: #d06;
}
#toast.err #toastt {
	background: #f9c;
}
#toast code {
	padding: 0 .2em;
	background: rgba(0,0,0,0.2);
}
#tth {
	color: #fff;
	background: #111;
	font-size: .9em;
	padding: 0 .26em;
	line-height: .97em;
	border-radius: 1em;
	position: absolute;
	display: none;
}
#tth.act {
	display: block;
	z-index: 9001;
}
#tt.b {
	padding: 0 2em;
	border-radius: .5em;
	box-shadow: 0 .2em 1em #000;
}
#tt.show {
	padding: 1em 1.3em;
	border-width: 1px;
	height: auto;
	opacity: 1;
}
#tt.show.b {
	padding: 1.5em 2em;
	/* border-width: .5em 0; */
}
.logue code,
#modalc code,
#tt code,
.opview code{
	color: #eee;
	color: var(--fg-max);
	background: #444;
	background: var(--bg-u5);
	padding: .1em .3em;
	border-radius: .3em;
	line-height: 1.7em;
}
#tt em {
	color: var(--a);
}
html.y #tt {
	border-color: #888 #000 #777 #000;
}
html.az #tt {
	border-color: #3b3f58;
}
html.y #tt,
html.y #toast {
	box-shadow: 0 .3em 1em rgba(0,0,0,0.4);
}
#modalc code {
	color: #060;
	background: transparent;
	border: 1px solid #ccc;
}
html.y #tth {
	color: #000;
	background: #fff;
}
#cf_frame {
	position: fixed;
	z-index: 573;
	top: 3em;
	left: 50%;
	width: 40em;
	height: 30em;
	margin-left: -20.2em;
	border-radius: .4em;
	border: .4em solid var(--fg);
	box-shadow: 0 2em 4em 1em var(--bg-max);
}
#hkhelp,
#modal {
	position: fixed;
    overflow: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9001;
	background: rgba(64,64,64,0.6);
}
#modal>table {
    width: 100%;
    height: 100%;
}
#modal td {
	text-align: center;
}
#modalc {
	position: relative;
	display: inline-block;
	background: #f7f7f7;
	color: #333;
	text-shadow: none;
	text-align: left;
	margin: 3em;
	padding: 1em 1.1em;
	border-radius: .6em;
    box-shadow: 0 .3em 3em rgba(0,0,0,0.5);
	max-width: 50em;
	max-height: 30em;
	overflow-x: auto;
	overflow-y: scroll;
}
#modalc.yk {
	overflow-y: auto;
}
#modalc td {
	text-align: unset;
	padding: .2em;
}
@media (min-width: 40em) {
    #modalc {
        min-width: 30em;
    }
}
#modalc li {
	margin: 1em 0;
}
#modalc h6 {
	font-size: 1.3em;
	border-bottom: 1px solid #999;
	margin: 0;
	padding: .3em;
	text-align: center;
}
#modalc a {
	color: #07b;
}
#modalc .b64 {
	display: block;
	margin: .1em auto;
	width: 60%;
	height: 60%;
	max-height: 22em;
	background: #999;
	background: rgba(128,128,128,0.2);
}
#modalb {
	position: sticky;
	text-align: right;
	padding-top: 1em;
	bottom: 0;
	right: 0;
}
#modalb a {
	color: #000;
	background: #ccc;
	display: inline-block;
	border-radius: .3em;
	padding: .5em 1em;
	outline: none;
	border: none;
}
#modalb a:focus,
#modalb a:hover {
	background: #06d;
	color: #fff;
}
#modalb a+a {
	margin-left: .5em;
}
#modali {
	display: block;
	background: #fff;
	color: #000;
	width: calc(100% - 1.25em);
    margin: 1em -.1em 0 -.1em;
	padding: .5em;
	outline: none;
	border: .25em solid #ccc;
	border-radius: .4em;
}
#modali:focus-visible {
	border-color: #06d;
}
#repl_pre {
	max-width: 24em;
}
*:focus-visible,
*:focus-visible+label,
.pctl *:focus-visible,
.btn:focus-visible {
	/* box-shadow: 0 .1em .2em #fc0 inset; */
	outline: var(--a) solid .1em;
	border-radius: .2em;
}
input, button {
	font-family: var(--font-main), sans-serif;
}
input[type="submit"] {
	cursor: pointer;
}
input[type="text"]:focus,
input:not([type]):focus,
textarea:focus {
	box-shadow: 0 .1em .3em var(--a), 0 -.1em .3em var(--a);
}











.mdo pre,
.mdo code,
.mdo a {
	background: #f7f7f7;
	border: .07em solid #ddd;
	border-radius: .2em;
	padding: 0 .3em;
	margin: 0 .1em;
}
.mdo pre,
.mdo code,
.mdo code[class*="language-"],
.mdo tt {
	font-family: 'scp', monospace, monospace;
	font-family: var(--font-mono), 'scp', monospace, monospace;
	white-space: pre-wrap;
	word-break: break-all;
}
.mdo code {
	font-size: .96em;
}
html.z .mdo a>code,
html.y .mdo a>code {
	color: inherit;
	background: inherit;
	background: rgba(0, 0, 0, 0.2);
	padding-top: 0;
	padding-bottom: 0;
	border: none;
}
.mdo h1,
.mdo h2 {
	line-height: 1.5em;
}
.mdo h1 {
	font-size: 1.7em;
	text-align: center;
	border: 1em solid #777;
	border-width: .05em 0;
	margin: 3em 0;
}
.mdo h2 {
	font-size: 1.5em;
	font-weight: normal;
	background: #f7f7f7;
	border-top: .07em solid #fff;
	border-bottom: .07em solid #bbb;
	border-radius: .5em .5em 0 0;
	padding-left: .4em;
	margin-top: 3em;
}
.mdo h3 {
	border-bottom: .1em solid #999;
}
.mdo h1 a, .mdo h3 a, .mdo h5 a,
.mdo h2 a, .mdo h4 a, .mdo h6 a {
	color: inherit;
	display: block;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}
.mdo ul,
.mdo ol {
	padding-left: 1em;
}
.mdo ul ul,
.mdo ul ol,
.mdo ol ul,
.mdo ol ol {
	padding-left: 2em;
	border-left: .3em solid #ddd;
}
.mdo ul>li {
	margin: .7em 0;
	list-style-type: disc;
}
.mdo ol>li {
	margin: .7em 0 .7em 2em;
}
.mdo strong {
	color: #000;
}
.mdo p>em,
.mdo li>em,
.mdo td>em {
	color: #c50;
	padding: .1em;
	border-bottom: .1em solid #bbb;
}
.mdo blockquote {
	font-family: serif;
	font-family: var(--font-serif), serif;
	background: #f7f7f7;
	border: .07em dashed #ccc;
	padding: 0 2em;
	margin: 1em 0;
}
.mdo small {
	opacity: .8;
}
.mdo pre code {
	display: block;
	margin: 0 -.3em;
	padding: .4em .5em;
	line-height: 1.1em;
}
.mdo pre code:hover {
	background: #ddd;
}
.mdo table {
	border-collapse: collapse;
	margin: 1em 0;
}
.mdo th,
.mdo td {
	padding: .2em .5em;
	border: .12em solid #aaa;
}
.mdo .mdth,
.mdo .mdthl,
.mdo .mdthr {
	margin: .5em .5em .5em 0;
}
.mdthl {
	float: left;
}
.mdthr {
	float: right;
}
hr {
	clear: both;
}

@media screen {
	.mdo {
		word-break: break-word;
		overflow-wrap: break-word;
		word-wrap: break-word; /*ie*/
	}
	html.y .mdo a,
	.mdo a {
		color: #fff;
		background: #39b;
		text-decoration: none;
		padding: 0 .3em;
		border: none;
		border-bottom: .07em solid #079;
	}
	.mdo h1 {
		color: #fff;
		background: #444;
		font-weight: normal;
		border-top: .4em solid rgba(203, 203, 203, 0.634);
		border-bottom: .4em solid #777;
		border-radius: 0 1em 0 1em;
		margin: 3em 0 1em 0;
		padding: .5em 0;
	}
	.mdo h2 {
		color: #fff;
		background: #555;
		margin-top: 2em;
		border-bottom: .22em solid #999;
		border-top: none;
	}



	html.z .mdo a {
		background: #057;
	}
	html.z .mdo h1 a, html.z .mdo h4 a,
	html.z .mdo h2 a, html.z .mdo h5 a,
	html.z .mdo h3 a, html.z .mdo h6 a {
		color: inherit;
		background: none;
	}
	html.z .mdo pre,
	html.z .mdo code {
		color: rgb(209, 209, 209);
		background: #1a1a1a;
		border: .07em solid #333;
	}
	html.z .mdo ul,
	html.z .mdo ol {
		border-color: #444;
	}
	html.z .mdo strong {
		color: #fff;
	}
	html.z .mdo p>em,
	html.z .mdo li>em,
	html.z .mdo td>em {
		color: #f94;
		border-color: #666;
	}
	html.z .mdo h1 {
		background: #383838;
		border-top: .4em solid rgba(203, 203, 203, 0.634);
		border-bottom: .4em solid #4c4c4c;
	}
	html.az .mdo h1 {
		background: #202231;
		border: 1px solid #2d2f45;
		border-width: 0 0 .4em 0;
	}
	html.z .mdo h2 {
		background: #444;
		border-bottom: .22em solid #555;
	}
	html.az .mdo h2,
	html.az .mdo h3 {
		background: transparent;
		border-color: #3b3f58;
	}
	html.z .mdo td,
	html.z .mdo th {
		border-color: #444;
	}
	html.z .mdo blockquote {
		background: #282828;
		border: .07em dashed #444;
	}
}

@media (prefers-reduced-motion) {
	#toast,
	#toast a#toastc,
	#tt {
		transition: none;
	}
}